*{
    padding: 0px;
    margin: 0px;
}
.containerBig{
    padding-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.input{
    border-color: aliceblue;
    height: 18px;
}
.containerSmall{
        border: 2px solid ;
display:inline-block;
border-radius: 5px;
border-color: gray;
}



.container{
text-align: center;
padding-bottom: 10px;
padding-top: 10px;
}

.interacaoBotao{
text-align: center;
padding: 10px;
padding-top: 0px;
}
button{
    border: 0px;
    border: 2px solid black;
    width: 60px;
}
button:hover{
    background-color:rgb(143, 255, 165);
    border-radius: 3px;
    cursor: pointer;
    
}
.containerSnd{
        border:  2px solid;
        display: inline-block;
        padding: 6px;
        border-radius: 5px;
        border-color:gray;
        background-color: aliceblue;
}